.booking-modal-container{
    .booking-modal-content{
        display: flex;
        flex-direction: column;
        .booking-modal-header{
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .left{
                font-size: 18px;
                font-weight: 600;
            }
            .right{
                float: right;
                padding: 5px;
                cursor: pointer;
            }
            
        }
        .booking-modal-body{
            flex: 1;
            padding: 15px ;
            
        }
        .booking-modal-footer{
            display: flex;
            justify-content: flex-end;
            padding: 10px;
            gap: 10px;
            button{
                border: none;
                outline: none;
            }
            .btn-booking-confirm{

            }
            .btn-booking-cancel{

            }
        }
    
    }

}