.manage-schedule-container{
    
    .title{
        margin-bottom: 15px;
    }
    .pick-hour-container{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0;
        gap: 20px;
        button{
            padding: 5px 10px;
            border: 1px solid gray;
        }
        .btn-schedule{
            &.active{
                background: orange;
                transition: 0.2s linear ;
            }
        }
    }
    .btn-save-schedule{

    }
} 