.manage-specialty-container{
    padding: 0 15px;
    .ms-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        color: #0071ba;
    }
    .add-new-specialty{
        .preview-img-container{
            .preview-img{
                width: 100%;
                cursor: no-drop;
            }
        }
        .btn-save-specialty{
            float: right;
        }
    }
}