.manage-clinic-container{
    padding: 0 15px;
    .title{
        margin-bottom: 10px;
    }
    .add-new-clinic{
        .preview-img-container{
            .preview-img{
                width: 100%;
                cursor: no-drop;
            }
        }
    }
    .btn-change-clinic{
        float: right;
    }
    
    .btn-save-clinic{
        float: right;
    }
}