.manage-specialty-container{
    padding: 0 15px;
    .title{
        margin-bottom: 15px;
    }
    .add-new-specialty{
        .preview-img-container{
            .preview-img{
                width: 60%;
                cursor: no-drop;
                margin: 10px auto ;
                background:  center center no-repeat;
                background-size: 25%;

            }
        }   
        .btn-save-specialty{
            float: right;
        }
    }
}