.manage-specialty-container{
    padding: 0 15px;
    .ms-title{
        margin: 10px;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
    }
    .add-new-specialty{
        .preview-img-container{
            .preview-img{
                width: 60%;
                cursor: no-drop;
                margin: 10px auto ;
                background:  center center no-repeat;
                background-size: 25%;

            }
        }   
        .btn-save-specialty{
            float: right;
        }
    }
}