.container{
    .row{
        .col-3,
        .col-9{
            margin-top: 10px;
        }
    }
}
.preview-img-container{
    .label-upload{
        padding: 5px;
        border-radius: 3px ;
        background-color: #ddd;
        cursor: pointer;
        &:hover{
            opacity: 0.9s;
        }
    }
    .preview-img{
        margin-top: 5px;
        height: 100px;
        width: 100%;
        border: 1px solid #ddd;
        background:  center center no-repeat;
        background-size: 60%;
        cursor: pointer;
    }

}